@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

a {
  font-weight: 900;
}



/*ОСНОВНЫЕ ЭЛЕМЕНТЫ СТРАНИЦЫ*/

.page {
  min-width: 768px;
  font-size: 14px;
  line-height: 1.25;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  background-color: #00472E;
  background-image: url("../img/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.main-header {
  width: 768px;
  margin: auto;
  position: relative;
  z-index: 10;
  background: #0F25AE;
  display: table;
  content: "";
  clear: both;
}

.container-page {
  width: 768px;
  margin: auto;
  margin-top: 6px;
  background: #4458D6;
  border: 3px solid black;
  border-top-style: none;
  border-bottom-style: none;
  box-sizing: border-box;
  background-image: url("../img/2222.jpg");
  background-repeat: repeat;
  background-size: : auto;
}

.main-footer-page {
  width: 768px;
  margin: auto;
  background: #0F25AE;
  opacity: 0.9;
  margin-bottom: 625px;
  margin-top: -6px;
  z-index: 1;
  border: 3px solid black;
  border-top-style: none;
  box-sizing: border-box;
  border-radius: 1px 1px 40px 40px;
}


/*======================================
    Первая страница
=======================================*/



/*ХЕАДЕР*/

/*ВЕРХНЕЕ МЕНЮ - 4 КНОПКИ И ЛОГО*/

.main-nav {
  float: left;
  height: 20px;
  margin: 0px 0px 40px 120px;
}

.main-header__fixed-menu {
  position: fixed;
  background: #0F25AE;
  width: inherit;
  opacity: 0.85;
  z-index: 100;
  border: 3px solid black;
  border-top-style: none;
  border-bottom-style: none;
  box-sizing: border-box;
}

.main-nav__list {
  margin: 0 0 0 15px;
  padding: 0px;
  list-style: none;
}

.main-nav__list li {
  display: inline-block;
  vertical-align: top;
}

.main-nav__list li a {
  display: block;
  width: 100px;
  padding: 18px 0px;
  text-decoration: none;
  color: white;
  letter-spacing: 2.5px;
  text-transform: none;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  border-left: 3px solid #051471;
  border-right: 3px solid #051471;
}

.main-nav__list li a:hover {
  color: #669ec0;
}

.main-nav__list li a:active {
  color: #bdbbbc;
}

.main-nav__list li .main-navigation-active-link {
  color: #766357;
}

.main-nav__list li .main-navigation-active-link:hover {
  color: #604e43;
}

.main-nav__list li .main-navigation-active-link:active {
  color: #CCCCCC;
}

.main-nav__active-link {
  background-color: #4458D6;
  border-bottom: 5px solid white;
  box-sizing: content-box;
}

/*ЛОГО*/

.main-header__index-logo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 116px;
  height: 58px;
  padding: 1px 10px;
}

.main-header__index-logo:hover {
  background-color: #051471;
  color: white !important;
}

.main-header__index-logo:active {
  opacity: 0.5;
}



/*ОСНОВНАЯ ЧАСТЬ*/

.image-1 {
  height: 432px;
  width: 100%;
  background: #66CCFF url("../img/background-index.jpg");
  margin-top: 60px;
}

.fig {
  text-align: center; /* Выравнивание по центру */ 
}

.switch-lang {
  float: right; 
  text-decoration: none;
  color: #fff;
  background-color: #051471;
  border-radius: 40px 5px;
  text-align: center;
  opacity: 0.75;
  text-transform: none;
}

.switch-lang p {
  text-align: center;
  margin: 0px;
  padding: 15px 30px;
  line-height: 1.5;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.switch-lang:hover {
  background-color: #4458D6;
  color: white !important;
}

.switch-lang:active p {
  opacity: 0.5;
}

.eng-switch {
  margin: 345px 15px 0px 0px; 
  border-bottom: 8px solid white;
  border-right: 4px solid white;
}

.rus-switch {
  position: relative; 
  margin: 260px 50px 0px 0px;
  left: 160px;
  border-bottom: 8px solid white;
  border-right: 4px solid white;
}

.switch-activated {
  text-decoration: underline;
}

/*МИССИЯ СТУДИИ*/

.block-1 {
  margin-top: 40px;
  letter-spacing: -0.25px;
  color: white;
}

.block-2 {
  margin: 30px 15px 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
}

.vk-group {
  margin: auto;
  width: 760px;
  height: 525px;
}

/*Красная шапочка*/

.features-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Текст красной шапочки*/

.block-3 {
  position: relative;
  float: left;
  width: 255px;
  color: white;
  background: #6B7AD6;
  margin-left: 10px;
}

.title-link {
  display: block;
  text-decoration: none;
  color: white;
}

.title-link:hover {
  color: #051471;
}

.title-link:active {
  color: #bdbbbc;
}

.near-photo-text-1 {
  padding: 0px 25px;
  line-height: 1.25;
  margin-top: 20px;
}

.near-photo-text-2 {
  padding-top: 5px;
  line-height: 1.25;
  padding: 0px 10px 0px 10px;
  text-transform: none;
  text-align: justify;
  text-indent: 15px;
  margin: 0px;
}

/*Кнопка подробнее*/

.sort-column-1-link {
  float: left;
  width: 75px;
  margin: 15px 10px;
  padding: 11px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #051471;
  border-radius: 5px;
  text-align: center;
}

.sort-column-1-link p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  font-size: 13px;
}

.sort-column-1-link:hover {
  background-color: #4458D6;
  color: white !important;
}

.sort-column-1-link:active p {
  opacity: 0.5;
}

.sort-column-1-link-barbarian {
  margin: 15px 3px 15px 6px;
  padding: 11px 10px;
  width: 70px;
}

/*Кнопка steam*/

.steam-btn {
  float: left;
  margin: 15px 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #051471;
  border-radius: 5px;
}

.steam-btn:hover {
  background-color: #4458D6;
  color: white !important;
}

.steam-btn:active {
  opacity: 0.5;
}

.steam-btn-barbarian {
  margin: 15px 3px 15px 3px;
  padding: 10px 9px;
}

.steam-btn-barbarian-google {
  margin: 15px 6px 15px 3px;
  padding: 3px 9px;
}

/*Дикий остров*/

.features-2 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Фотки дикого острова*/

.block-5 {
  float: left;
  width: 495px;
}

.block-5-1 {
  float: left;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 5px
}

.block-5-2 {
  float: left;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 5px
}

.block-5-3 {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.block-5-4 {
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

/*Текст дикого острова*/

.block-6 {
  position: relative;
  float: right;
  width: 255px;
  color: white;
  background: #6B7AD6;
  margin-right: 10px;
}

/*КОНАН*/

.features-3 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*ТЕКСТ КОНАНА*/

.block-7 {
  position: relative;
  float: left;
  width: 255px;
  color: white;
  background: #6B7AD6;
  margin-left: 10px;
}

/*БЛОК ВИДЕО*/

.block-9 {
  display: block;
  width: 635px;
  color: white;
  margin: 30px 15px 30px 60px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
}

.block-10 {
  display: block;
  margin-bottom: 20px;
}

.block-11 {
  display: block;
  margin-bottom: 20px;
}

/*РАЗДЕЛИТЕЛЬНАЯ ПОЛОСКА*/

hr {
  padding: 0;
  border: none;
  border-top: 5px double #333;
  color: #333;
  text-align: center;
  margin: 25px 0px 25px 0px;
}

hr::after {
  content: "❄";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  z-index: 1;
  padding: 0px 0.25em;
  background: rgb(107, 122, 214);
}

.hr-first {
  margin: 0px 0px 25px 0px;
}

.hr-last {
  margin: 25px 0px 5px 0px;
}

/*ФУТЕР*/

/*ВИЗИТ СЕДОНА*/

.footer-visit {
  float: left;
  margin: 45px 0px 0px 70px;
}

.footer-visit h2 {
  margin: 0px;
  color: white;
}

/*СОЦИАЛЬНЫЕ КНОПКИ*/

.footer-social {
  float: left;
  margin: 25px 0px 20px 71px;
}

.social-btn-twit {
  float: left;
  width: 31px;
  height: 31px;
  padding: 21px 5px 6px 22px;
  background: #051471;
}

.social-btn-vk {
  float: left;
  width: 33px;
  height: 34px;
  margin-left: 6px;
  padding: 22px 6px 2px 19px;
  background: #051471;
}

.social-btn-fb {
  float: left;
  width: 29px;
  height: 35px;
  margin-left: 6px;
  padding: 18px 6px 5px 23px;
  background: #051471;
}

.social-btn-youtube {
  float: left;
  width: 34px;
  height: 32px;
  margin-left: 6px;
  padding: 21px 5px 5px 19px;
  background: #051471;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active img {
  opacity: 0.3;
}

/*КТО СДЕЛАЛ*/

.academy-link {
  float: left;
  margin: 15px 0px 0px 70px;
}

.footer-copyright-text {
  float: left;
  margin-top: 10px;
  color: white;
}

.footer-copyright-text p {
  margin: 0px;
}

.footer-copyright-icon {
  float: left;
  margin-left: 8px;
  margin-top: -4px;
}

.footer-copyright-icon a {
  float: left;
  display: block;
  text-decoration: none;
  color: white;
}

.footer-copyright-icon a:hover {
  color: #669ec0;
}

.footer-copyright-icon a:active {
  color: #bdbbbc;
}


/* ЧЕСТНО СПИЖЖЕННЫЙ КОД ДЛЯ ПОПАПОВ ФОТОК */
/* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
/* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed; /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */
}

/* активируем слой затемнения */
.overlay:target {
  display: block;
}

/* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 720px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
/* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}

/* активируем модальный блок */
.overlay:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 12%;
}

/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 30px;
  height: 25px;
  position: absolute;
  padding: 5px 0px 0px 0px;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: blue;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 18px;
}

.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);  
}

/* изображения внутри окна */
.popup img {
  width: 100%;
  height: auto;
}

/* миниатюры слева/справа */
.pic-left, 
.pic-right {
  width: 25%;
  height: auto;
}

.pic-left {
  float: left;
  margin: 5px 15px 5px 0;
}

.pic-right {
  float: right;
  margin: 5px 0 5px 15px;
}

/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0; 
  display:block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}

.popup h2 { /* заголовок 2 */
  margin: 0;
  color: #008000;
  padding: 5px 0px 10px;
  text-align: left;
  text-shadow: 1px 1px 3px #adadad;
  font-weight: 500;
  font-size: 1.4em;
  font-family: 'Tahoma', Arial, sans-serif;
  line-height: 1.3;
}

/* параграфы */
.popup p {margin: 0; padding: 5px 0}