.check-tel-message {
  position: absolute;
  left: 20px;
  bottom: -25px;
  display: none;
  font-size: 14px;
  color: $light-red;
}

// TABLET
@media (min-width: $tablet-width) {
  .check-tel-message {
    left: auto;
    right: 0;
    top: -25px;
    bottom: auto;
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .check-tel-message {
    left: 20px;
    top: -25px;
  }
}
