$active-link: #766357;
$active-link-active: #604e43;
$active-link-hover: #d6d0cc;
$black: #000000;
$blue: #81b3d2;
$blue-active: #5496bd;
$blue-hover: #669ec0;
$dark-grey: #e6e6e6;
$grey: #eeeeee;
$grey-text-active: #cacaca;
$light-grey: #f2f2f2;
$light-grey-active: #e5e5e5;
$light-grey-hover: #e5e5e5;
$red: #ff5c5c;
$white: #ffffff;
