  .container {
    margin: auto;
    width: 318px;
    background: #fff;
    border-radius: 1px 1px 50px 50px;
}

@media (min-width: $tablet-widths) {
  .container {
    width: 768px;
}
}

@media (min-width: $desktop-widths) {
  .container {
    width: 1200px;
}
}
