.white-text-no-background {
  margin: 35px 0px 30px 0px;
  letter-spacing: -0.25px;
  color: white;
  text-align: center;
  @include text-shadow;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mission-studio__text {
  margin: 30px 15px 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: $mobile-widths) {
  .mission-studio {
    @include title-medium;
}

  .mission-studio__text {
    @include title-small;
}

  .white-text-no-background--center {
    padding: 0px 35px;
}

}

@media (min-width: $tablet-widths) {
  .mission-studio {
    @include title-big;
}

  .mission-studio__text {
    @include title-small-plus;
}
}

@media (min-width: $desktop-widths) {
  .mission-studio {
    @include title-huge;
}

  .mission-studio__text {
    @include title-medium;
    margin-bottom: 40px;
}
}