.white-text-no-background {
  width: 100%;
  margin: 35px 0px 30px 0px;
  letter-spacing: -0.25px;
  color: white;
  text-align: center;
  @include text-shadow;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.black-text {
  width: 100%;
  margin: 15px 0px 25px 0px;
  letter-spacing: -0.25px;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.white-text-with-background {
  margin: 30px 15px 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

.white-text-with-background-h2 {
  margin: 30px 15px 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: $mobile-widths) {
  .white-text-no-background {
    width: 87%;
    padding: 0px 20px;
}
  .white-text-with-background-h2 {
    @include title-medium;
}

  .white-text-with-background {
    @include title-small-plus;
}

  .white-text-no-background--center {
    padding: 0px 35px;
}

}

@media (min-width: $tablet-widths) {
  .white-text-with-background-h2 {
    @include title-big;
}

  .white-text-with-background  {
    @include title-medium;
}
}

@media (min-width: $desktop-widths) {
  .white-text-with-background-h2 {
    @include title-big;
}

  .white-text-with-background {
    @include title-medium;
    margin-bottom: 40px;
}
}