.white-text-no-background {
  width: 100%;
  margin: 35px 0px 30px 0px;
  letter-spacing: -0.25px;
  color: white;
  text-align: center;
  @include text-shadow;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.black-text {
  width: 100%;
  margin: 15px 0px 25px 0px;
  letter-spacing: -0.25px;
  color: black;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.white-text-with-background {
  margin: 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

.white-text-with-background-h2 {
  margin: 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

.white-text-with-background--short {
    @media (max-width: $mobile-widths) {
      margin: 30px 16px;
    }
    @media (min-width: $tablet-widths) {
      margin: 30px 16px;
    }
    @media (min-width: $desktop-widths) {
      margin: 30px 42px;
    }
}

.white-text-with-background--short-twit {
  width: 1100px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
    @media (max-width: $mobile-widths) {
      margin: 30px 16px;
      min-height: 160px;
    }
    @media (min-width: $tablet-widths) {
      margin: 30px 16px;
      min-height: 50px;
    }
    @media (min-width: $desktop-widths) {
      margin: 30px 42px;
      min-height: 50px;
    }
}

.white-text-with-background--short-twit-rus {
    @media (max-width: $mobile-widths) {
      min-height: 200px;
    }
    @media (min-width: $tablet-widths) {
      min-height: 90px;
    }
}

.text-with-twit-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twit-animation {
  height: 70px;
  width: 87px;
  background-image: url("../img/twitter_icon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
  transition: all 0.5s ease;
  margin-top: -5px;
    @media (max-width: $mobile-widths) {
      margin-left: -80px;
      margin-top: 0px;
    }
    @media (min-width: $tablet-widths) {
      margin-left: -70px;
      margin-top: 5px;
    }
    @media (min-width: $desktop-widths) {
      margin-left: -95px;
      margin-top: -10px;
    }
}

.twit-animation:hover {
    @media (max-width: $mobile-widths) {
      margin: 0px 2px 0px -13px;
    }
    @media (min-width: $tablet-widths) {
      margin: 5px 15px 0px -5px;
    }
    @media (min-width: $desktop-widths) {
      margin: -10px 20px 0px -30px;
    }
}

@media (max-width: $mobile-widths) {
  .white-text-no-background {
    width: 87%;
    padding: 0px 20px;
}
  .white-text-with-background-h2 {
    @include title-medium;
}

  .white-text-with-background {
    @include title-small-plus;
}

  .white-text-no-background--center {
    padding: 0px 35px;
}

}

@media (min-width: $tablet-widths) {
  .white-text-with-background-h2 {
    @include title-big;
}

  .white-text-with-background  {
    @include title-medium;
}
}

@media (min-width: $desktop-widths) {
  .white-text-with-background-h2 {
    @include title-big;
}

  .white-text-with-background {
    @include title-medium;
    margin-bottom: 40px;
}
}