  .feature {
    @include clearfix;
}

  .feature__text-block {
    @include clearfix;
    padding: 20px 20px 20px 20px;
}

  .feature__text-block {
    background-color: $blue;
}

  .feature__text-block .feature__title {
    color: $white;
    @include title-medium;
    line-height: 172%;
    letter-spacing: 0.1px;
    width: 215px;
    padding: 18px 0px 0px 0px;
    text-align: center;
    margin: 0 auto;
}

  .feature__text-block .feature__number {
    color: $white;
    line-height: 172%;
    letter-spacing: 0.1px;
    width: 55px;
    padding: 6px 0px 0px 0px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

  .feature__text-block .feature__text {
    color: $white;
    line-height: 160%;
    letter-spacing: 0.1px;
    width: 280px;
    padding: 13px 0px 16px 0px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

  /*
  .feature:nth-child(2) .feature__text-block .feature__text {
    width: 265px;
}
*/

  .feature__image {
    background-image: url(images/photo-city@1x.jpg);
    background-size: auto;
    width: 318px;
    height: 260px;
}

  .feature:nth-child(1) .feature__list {
    padding: 20px 20px 20px 20px;
}

  .feature__item {
    @include clearfix;
}

  .feature__item .feature__icon {
    float: left;
    width: 40px;
    height: 40px;
    color: $blue;
    margin: 4px 0px 0px 0px;
}

  .feature__item:nth-child(2) .feature__icon {
    margin: 12px 0px 0px 0px;
}

  .feature__item:nth-child(3) .feature__icon {
    margin: 18px 0px 5px 0px;
}

  .feature__item .feature__title {
    float: left;
    color: $black;
    @include title-medium;
    line-height: 172%;
    letter-spacing: 0px;
    padding: 12px 0px 0px 9px;
    text-align: center;
    margin: 0px;
}

  .feature__item:nth-child(2) .feature__title {
    padding: 20px 0px 0px 9px;
}

  .feature__item:nth-child(3) .feature__title {
    padding: 26px 0px 0px 9px;
}

  .feature__item .feature__text {
    float: left;
    color: $black;
    line-height: 160%;
    letter-spacing: 1.55px;
    padding: 8px 20px 0px 50px;
    text-align: left;
    margin: 0px;
    text-transform: uppercase;
}

  .feature__item:nth-child(2) .feature__text {
    padding: 10px 15px 0px 50px;
}

  .feature__item:nth-child(3) .feature__text {
    padding: 1px 20px 13px 50px;
}

  .feature:nth-child(2) .feature__list {
    padding: 0px 0px 0px 0px;
}

  .feature__text-block--grey {
    background-color: $grey;
    @include clearfix;
    padding: 10px 20px 0px 20px;
}

  .feature__text-block--grey .feature__title {
    color: $black;
    width: 100%;
    @include title-medium;
    line-height: 172%;
    letter-spacing: 0.1px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    margin: 0px;
}

  .feature__text-block--grey .feature__number {
    color: $black;
    width: 100%;
    line-height: 172%;
    letter-spacing: 2.3px;
    padding: 7px 0px 0px 0px;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
}

  .feature__text-block--grey .feature__text {
    color: $black;
    width: 265px;
    line-height: 160%;
    letter-spacing: 1.7px;
    padding: 13px 0px 30px 0px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}



@media (min-width: $tablet-widths) {
  .feature__text-block {
    @include clearfix;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

  .feature__image {
    float: right;
    width: 66.66%;
    height: 255px;
}

  .feature__text-block .feature__title {
    line-height: 154%;
    letter-spacing: 2px;
    padding: 23px 0px 0px 0px;
    width: 200px;
    margin: 0 auto;
}

  .feature__text-block .feature__number {
    letter-spacing: 1px;
    padding: 8px 0px 0px 0px;
    width: 50px;
    margin: 0 auto;
}

  .feature__text-block .feature__text {
    line-height: 155%;
    letter-spacing: 1.75px;
    padding: 19px 0px 23px 0px;
    width: 172px;
    margin: 0 auto;
}

  .feature:nth-child(1) .feature__list {
    padding: 0px 0px 0px 0px;
}

  .feature__list {
    width: 100%;
    display: flex;
  }

  .feature__item {
    float: left;
    @include clearfix;
    width: 33.33%;
    margin: 0px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

  .feature__item:nth-child(1) {
    order: 1;
}

  .feature__item:nth-child(2) {
    order: 3;
}

  .feature__item:nth-child(3) {
    order: 2;
}

  .feature__item .feature__icon {
    float: none;
    display: block;
    width: 80px;
    height: 80px;
    padding: 40px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(2) .feature__icon {
    padding: 33px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(3) .feature__icon {
    padding: 33px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item .feature__title {
    float: none;
    width: 100%;
    @include title-big;
    padding: 16px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(2) .feature__title {
    padding: 21px 0px 0px 0px;
}

  .feature__item:nth-child(3) .feature__title {
    padding: 18px 0px 0px 0px;
}

  .feature__item .feature__text {
    display: block;
    float: none;
    line-height: 154%;
    text-align: center;
    width: 165px;
    padding: 19px 0px 40px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(2) .feature__text {
    padding: 13px 0px 42px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(3) .feature__text {
    padding: 17px 0px 42px 0px;
    margin: 0 auto;
}

  .feature:nth-child(2) .feature__text-block {
    float: right;
}

  .feature:nth-child(2) .feature__image {
    float: left;
}

  .feature:nth-child(2) .feature__text-block .feature__title {
    width: 200px;
    padding: 23px 0px 0px 0px;
    margin: 0 auto;
}

  .feature:nth-child(2) .feature__text-block .feature__text {
    width: 200px;
}

  .feature__list .feature {
    width: 33.34%;
    float: left;
  }

  .feature__text-block--grey {
    @include clearfix;
    width: 100%;
    margin: 0px;
    padding: 25px 25px 25px 25px;
}

  .feature .feature__text-block--grey .feature__title {
    @include title-big;
    line-height: 140%;
    letter-spacing: 0.1px;
    padding: 16px 0px 0px 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__title {
    line-height: 135%;
    padding: 17px 0px 0px 0px;
    width: 150px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__title {
    padding: 16px 0px 0px 0px;
    width: 150px;
}

.feature .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
    box-sizing: border-box;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
}

  .feature .feature__text-block--grey .feature__text {
    padding: 20px 0px 15px 0px;
    box-sizing: border-box;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__text {
    padding: 19px 0px 15px 0px;
    width: 150px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__text {
    padding: 19px 0px 15px 0px;
}
}

@media (min-width: $desktop-widths) {
  .feature__text-block {
    @include clearfix;
    float: left;
    width: 33.33%;
}

  .feature__image {
    float: right;
    width: 66.66%;
    height: 255px;
    overflow: hidden;
}

  .feature__image img {
    transform: translateY(-18.25%);
}

  .feature__text-block .feature__title {
    line-height: 154%;
    letter-spacing: 2px;
    width: 215px;
    padding: 30px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__text-block .feature__number {
    letter-spacing: 1px;
    padding: 7px 0px 0px 0px;
}

  .feature__text-block .feature__text {
    line-height: 155%;
    letter-spacing: 1.65px;
    width: 295px;
    padding: 18px 0px 40px 0px;
}

  .feature__list {
    width: 100%;
    display: flex;
  }

  .feature__item {
    float: left;
    width: 33.33%;
    margin: 0px;
}

  .feature__item:nth-child(1) {
    order: 1;
}

  .feature__item:nth-child(2) {
    order: 3;
}

  .feature__item:nth-child(3) {
    order: 2;
}

  .feature__item .feature__icon {
    display: block;
    float: none;
    width: 80px;
    height: 80px;
    padding: 36px 0px 0px 2px;
    margin: 0 auto;
}

  .feature__item:nth-child(2) .feature__icon {
    padding: 32px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item:nth-child(3) .feature__icon {
    padding: 32px 0px 0px 0px;
    margin: 0 auto;
}

  .feature__item .feature__title {
    padding: 20px 0px 0px 0px;
}

  .feature__item:nth-child(2) .feature__title {
    padding: 18px 0px 0px 0px;
}

  .feature__item:nth-child(3) .feature__title {
    padding: 18px 0px 0px 0px;
}

  .feature__item .feature__text {
    line-height: 150%;
    padding: 19px 0px 58px 0px;
    width: 300px;
    letter-spacing: 1.7px;
    text-align: center;
    margin: 0 auto;
}

  .feature__item:nth-child(2) .feature__text {
    padding: 19px 0px 58px 0px;
}

  .feature__item:nth-child(3) .feature__text {
    padding: 19px 0px 58px 0px;
    letter-spacing: 1.5px;
}

  .feature:nth-child(2) {
    width: 100%;
}

  .feature:nth-child(2) .feature__text-block {
    float: right;
    width: 33.33%;
}

  .feature:nth-child(2) .feature__image {
    float: left;
    width: 66.66%;
}

  .feature:nth-child(2) .feature__text-block .feature__title {
    width: 200px;
    padding: 31px 0px 0px 0px;
    margin: 0 auto;
}

  .feature:nth-child(2) .feature__text-block .feature__text {
    line-height: 155%;
    letter-spacing: 1.55px;
    width: 235px;
    padding: 20px 0px 37px 0px;
    margin: 0 auto;
}

  .feature__list .feature {
    width: 33.34%;
    float: left;
  }

  .feature__text-block--grey {
    @include clearfix;
    width: 100%;
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

  .feature:nth-child(2) .feature__text-block--grey {
    @include clearfix;
    width: 100%;
    margin: 0px;
    padding: 20px 20px 20px 20px;
}

  .feature .feature__text-block--grey .feature__title {
    @include title-big;
    line-height: 140%;
    letter-spacing: 0.1px;
    padding: 22px 0px 0px 0px;
    box-sizing: border-box;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__title {
    line-height: 135%;
    width: 150px;
    padding: 22px 0px 0px 0px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__title {
    padding: 22px 0px 0px 0px;
}

  .feature .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
    box-sizing: border-box;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__number {
    padding: 6px 0px 0px 0px;
}

  .feature .feature__text-block--grey .feature__text {
    padding: 20px 0px 44px 0px;
    box-sizing: border-box;
}

  .feature:nth-child(2) .feature__text-block--grey .feature__text {
    padding: 20px 0px 46px 0px;
}

  .feature:nth-child(3) .feature__text-block--grey .feature__text {
    padding: 20px 0px 46px 0px;
}
}
