.feedback-popup {
  @include container();
  position: fixed;
  left: 50%;
  top: 25%;
  z-index: 1;
  width: 100%;
  height: auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow:
    0 7px 8px 0 rgba(0, 0, 0, 0.15),
    0 -2px 8px 0 rgba(0, 0, 0, 0.15);
  transform: translate(-50%);

  &--error {
    display: none;
  }

  &--success {
    display: none;
  }
}

.feedback-popup__wrapper {
  padding: 45px 50px 35px;

  &--padding {
    padding-bottom: 0;
  }
}

.feedback-popup__header {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback-popup__text {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.feedback-popup-button-inner {
  padding: 20px;

  &--bg {
    background-color: $light;
  }

  &--padding {
    padding: 30px 0;
  }
}

.feedback-popup__close {
  @include btn();
  width: 100%;
  font-size: 18px;

  &--width {
    width: 50%;
  }
}

// TABLET
@media (min-width: $tablet-width) {
  .feedback-popup {
    top: 30%;
  }

  .feedback-popup--success {
    max-width: 640px;
  }

  .feedback-popup--error {
    max-width: 400px;

    .feedback-popup__header {
      max-width: 250px;
      margin: 0 auto 30px;
    }
  }

  .feedback-popup__wrapper {
    padding: 65px 55px 35px;
  }

  .feedback-popup__header {
    font-size: 30px;
    line-height: 40px;
  }

  .feedback-popup-button-inner {
    padding: 45px 95px;

    &--padding {
      padding: 0 65px 45px;
    }
  }

  .feedback-popup__close--width {
    width: 100%;
  }
}
