  .form-item-submit-button__button {
    display: inline-block;
    width: 277px;
    @include title-big;
    letter-spacing: 0.1px;
    color: #ffffff;
    background-color: $blue;
    text-decoration: none;
    padding: 15px 46px;
    margin: 45px auto 42px auto;
    border: none;
    cursor: pointer;
    &:hover {
    background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-active;
    }
}

@media (min-width: $tablet-widths) {
  .form-item-submit-button {
    order: 6;
    width: 100%;
    padding: 0px 0px 22px 0px;
  }

  .form-item-submit-button__button {
    width: 322px;
    @include title-big;
    letter-spacing: 0.25px;
    padding: 15px 50px 16px 40px;
    margin: 52px auto 42px auto;
}
}

@media (min-width: $desktop-widths) {
  .form-item-submit-button {
    order: 6;
    width: 100%;
    padding: 0px 0px 22px 0px;
  }

  .form-item-submit-button__button {
    width: 480px;
    @include title-big;
    letter-spacing: 0.25px;
    padding: 15px 45px 16px 45px;
    margin: 52px auto 45px auto;
}
}
