.form-fields {
  box-sizing: border-box;
  margin: 0;
  padding: 20px 20px 25px;
  text-align: left;
  border: none;
  border-top: 1px solid $semi-dark-grey;

  &:nth-child(2) {
    .form-fields__header {
      margin-bottom: 25px;
    }
  }
}

.form-fields__header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.form-fields__inner {
  box-sizing: border-box;
}

// TABLET
@media (min-width: $tablet-width) {
  .form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin-bottom: 75px;
    border: none;

    &:nth-child(1) {
      width: 50%;
      padding-left: 55px;

      .form-fields__header {
        align-self: flex-start;
      }
    }

    &:nth-child(2) {
      margin-bottom: 55px;

      .form-fields__header {
        margin-bottom: 5px;
      }
    }

    &:nth-child(3) {
      width: 50%;
      border-right: 1px solid $semi-dark-grey;
      padding-right: 45px;
      order: -1;
    }

    &:nth-child(4) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 65px;

      .form-fields__header {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &:nth-child(5) {
      margin-bottom: 60px;
    }
  }

  .form-fields__checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto;

    .form-fields__inner {

      &:nth-of-type(2) {
        margin-top: 15px;
        padding-right: 20px;
        order: 1;
      }

      &:nth-of-type(3) {
        padding-right: 15px;
      }

      &:nth-of-type(4) {
        margin-top: 15px;
        order: 2;
      }
    }
  }

  .form-fields__header {
    position: relative;
    margin-bottom: 35px;
    font-size: 21px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 20%;
      height: 1px;
      background-color: $semi-dark-grey;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .form-fields:nth-child(1) .form-fields__header::before,
  .form-fields:nth-child(1) .form-fields__header::after,
  .form-fields:nth-child(3) .form-fields__header::before,
  .form-fields:nth-child(3) .form-fields__header::after {
    content: none;
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .form-fields {
    margin-bottom: 70px;

    &:nth-child(1) {
      padding-left: 75px;

      .form-fields__header {
        text-align: left;
      }
    }

    &:nth-child(2) {
      flex-direction: row;
      flex-wrap: wrap;

      .form-fields__header {
        margin-bottom: 70px;
      }
    }

    &:nth-child(4) {
      .form-fields__header {
        margin-bottom: 40px;
      }
    }
  }

  .form-fields__checkbox-wrapper {
    width: 100%;
    justify-content: space-between;

    .form-fields__inner {
      &:nth-of-type(3) {
        padding: 0;
      }

      &:nth-of-type(2) {
        margin: 0;
        padding: 0;
      }

      &:nth-of-type(4) {
        margin: 0;
      }
    }
  }

  .form-fields__header {
    width: 100%;

    &::before,
    &::after {
      width: 30%;
    }
  }
}
