.game-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $main-dark-blue-hover;
  padding: 20px 0px;
  border-radius: 25px;
  border: 0.5px solid white;
  margin: 30px auto;
  opacity: 0.96;
    @media (max-width: $mobile-widths) {
      flex-direction: column;
    }
    @media (min-width: $tablet-widths) {
      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }
      &:nth-of-type(2) .game-preview__block  {
        margin-left: 0px;
        margin-right: 10px;
        border-radius: 10px 40px 10px 10px;
      }
    }
    @media (min-width: $desktop-widths) {
      width: 1000px;
      padding: 20px 5px;
      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }
    }
}

/*Блок с описанием игры и кнопками*/

.game-preview__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  min-height: 340px;
  color: white;
  background: #6B7AD6;
  margin-left: 10px;
  border-radius: 40px 10px 10px 10px;
    @media (max-width: $mobile-widths) {
      margin: 0px;
    }
}

.game-preview__title-link {
  display: block;
  text-decoration: none;
  color: white;
}

.game-preview__title-link:hover {
  color: #051471;
}

.game-preview__title-link:active {
  color: #bdbbbc;
}

.game-preview__title {
  padding: 0px 20px;
  line-height: 1.25;
  margin: 10px 0px 12px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 21px;
}

.game-preview__text {
  padding-top: 5px;
  line-height: 1.2;
  padding: 0px 10px 0px 10px;
  text-transform: none;
  text-align: justify;
  text-indent: 15px;
  margin: 0px;
  -webkit-font-size: 13px;
  font-size: 18px;
  letter-spacing: 0.25px;
}

/*Кнопка подробнее*/

.game-preview__buttons-block {
  display: flex;
}

.game-preview__button-details {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 105px;
  height: 65px;
  box-sizing: border-box;
  margin: 15px 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #051471;
  border-radius: 5px;
  text-align: center;
    @media (max-width: $mobile-widths) {
      & span {
      display: none;
      }
    }
}

.game-preview__button-details-flex {
  display: flex;
}

.game-preview__button-details p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.9px;
}

.game-preview__button-details:hover {
  background-color: #4458D6;
  color: white !important;
}

.game-preview__button-details:active p {
  opacity: 0.5;
}

.game-preview__button-details--barbarian {
  margin: 15px 5px 15px 10px;
  padding: 15px 10px;
  width: 70px;
}

.game-preview__button-details--barbarian-rus {
  padding: 15px 0px;
}

.game-preview__button-details--barbarian-rus p {
  letter-spacing: 0.75px;
}

/*Кнопки*/

.game-preview__button-steam {
  float: right;
  width: 105px;
  height: 65px;
  box-sizing: border-box;
  margin: 15px 10px;
  padding: 14px 27px 6px 27px;
  text-decoration: none;
  color: #fff;
  background-color: #051471;
  border-radius: 5px;
}

.game-preview__button-steam:hover {
  background-color: #4458D6;
  color: white !important;
}

.game-preview__button-steam:active {
  opacity: 0.5;
}

.game-preview__button-steam--barbarian {
  float: left;
  width: 72px;
  margin: 15px 5px 15px 5px;
  padding: 12.5px 8px 7.5px 10px;
}

.game-preview__button-steam--barbarian-google {
  float: left;
  width: 72px;
  margin: 15px 10px 15px 5px;
  padding: 6.5px 9px 0px 9px;
}

/*Блок с фотками*/

.game-preview__photo-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 495px;
  min-height: 340px;
  justify-content: space-around;
  align-items: center;
    @media (max-width: $mobile-widths) {
      width: 255px;
      margin-top: 15px;
      flex-direction: column;
    }
    @media (min-width: $desktop-widths) {
      width: 735px;
  }
}

.game-preview__photo {
  border-radius: 10px;
}

@media (max-width: $mobile-widths) {

  .game-preview__photo-block a:nth-child(3),
  .game-preview__photo-block a:nth-child(4),
  .game-preview__photo-block a:nth-child(5),
  .game-preview__photo-block a:nth-child(6) {
    display: none;
}

}

@media (min-width: $tablet-widths) {

  .game-preview__photo-block a:nth-child(3),
  .game-preview__photo-block a:nth-child(4) {
    display: block;
}

  .game-preview__photo-block a:nth-child(5),
  .game-preview__photo-block a:nth-child(6) {
    display: none;
}

}

@media (min-width: $desktop-widths) {

  .game-preview__photo-block a:nth-child(3),
  .game-preview__photo-block a:nth-child(4),
  .game-preview__photo-block a:nth-child(5),
  .game-preview__photo-block a:nth-child(6) {
    display: block;
}

}
