  .index-logo {
    position: absolute;
    top: -10%;
    left: 34%;
    z-index: 10;
    width: 100px;
    height: 96px;
}

@media (min-width: $tablet-widths) {
  .index-logo {
    top: 0;
    left: 43%;
    width: 102px;
    height: 84px;
}
}

@media (min-width: $desktop-widths) {
  .index-logo {
    top: 0;
    left: 42%;
    width: 187px;
    height: 96px;
}
}
