  .main-nav {
    position: relative;
    width: 316px;
    height: 55px;
    min-height: 50px;
    margin: 0 auto;
    background-color: $white;
}

  .main-nav__indicator {
    display: block;
    width: 246px;
    height: 60px;
    padding: 20px 0px;
    text-decoration: none;
    color: #0f25ae;
    letter-spacing: 5px;
    @include title-medium;
    font-size: 20px;
    font-weight: 900;
    text-transform: none;
    text-align: center;
    box-sizing: border-box;
    border-left: none;
    border-right: 3px solid #051471;
    margin: 0;
      @media (min-width: $tablet-widths) {
        display: none;
      }
      @media (min-width: $desktop-widths) {
        display: none;
      }
}

  .main-nav__1 {
    display: flex;
}

  .main-nav__toggle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    display: block;
    width: 70px;
    height: 60px;
    font-size: 0;
    cursor: pointer;
    border: none;
    background-color: $white;
    &:hover {
    background-color: $main-dark-blue-2;
    }
    &:active {
    background-color: $main-dark-blue-2;
    }
}

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 25px;
    width: 22px;
    height: 4px;
    background-color: $main-dark-blue;
    box-shadow: 0 8px 0 0 $main-dark-blue,
                0 16px 0 0 $main-dark-blue;
}

  .main-nav--closed .main-nav__toggle:hover::before {
    background-color: $white;
    box-shadow: 0 8px 0 0 $white,
                0 16px 0 0 $white;
}


  .main-nav--closed .main-nav__toggle:active::before {
    background-color: $white;
    box-shadow: 0 8px 0 0 $white,
                0 16px 0 0 $white;
}

  .main-nav--opened {
    z-index: 100;
}

  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 0.5px;
    right: 0;
    z-index: 30;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 23.5px;
      width: 28px;
      height: 4px;
      background-color: $white;
    }
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
    &::after {
      transform: rotate(-45deg);
    }
    &:active::before,
    &:active::after {
      background-color: $main-dark-blue;
    }
    &:hover::before,
    &:hover::after {
      background-color: $main-dark-blue;
    }
}

  .main-nav--opened  .main-nav__toggle {
    background-color: $main-dark-blue-2;
    &:hover {
      background-color: $white;
    }
    &:active {
      background-color: $white;
    }
}

  .main-nav__items {
    /*min-height: 255px;*/
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style-type: none;
}

  .main-nav__item a {
    display: block;
    width: 170px;
    padding: 20px 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
    @include title-medium;
    font-size: 20px;
    font-weight: 900;
    text-transform: none;
    text-align: center;
    box-sizing: border-box;
    border-left: 3px solid #051471;
    border-right: 3px solid #051471;
}

  .main-nav__item--active a {
    background-color: #4458D6;
    border-bottom: 5px solid white;
}

  .main-nav__item-logo a {
    display: block;
    width: 160px;
    height: 60px;
    padding: 20px 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.5px;
    text-transform: none;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-left: 3px solid #051471;
    border-right: 3px solid #051471;
}

  .main-nav__item a[href] {
    &:hover {
      background-color: $main-dark-blue-hover;
      border-top-color: $main-dark-blue-hover;
    }
    &:active {
      background-color: $main-dark-blue;
      border-top-color: $main-dark-blue;
    }
}

@media (max-width: $mobile-widths) {
  .main-nav {
    height: 60px;
    position: fixed;
    z-index: 10;
    border: 1px solid black;
    border-top-style: none;
    border-bottom-style: none;
  }

  .main-nav__item a {
    padding: 17.5px 21px;
    width: 316px;
    border-bottom: 2px solid $main-dark-blue;
    border-top: 1px solid $main-dark-blue;
}

  .main-nav--closed .main-nav__item {
    display: none;
}

  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
}

  .main-nav--closed .main-nav__user-items {
    display: none;
}

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #0F25AE;
}

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 6px 0 7px -2px rgba(0, 0, 0, 0.4);
}

  .main-nav--nojs .main-nav__toggle {
    display: none;
}

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
}

  .main-nav--nojs .main-nav__item {
    display: block;
}

  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
}

  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38;
}

  .main-nav__item-logo {
    display: none;
}
}

@media (min-width: $tablet-widths) {
  .main-nav {
    width: auto;
    min-height: 59px;
    margin-bottom: -60px;
    background-color: $white;
}

  .main-nav__wrapper {
    width: 768px;
    position: fixed;
    background: #0F25AE;
    opacity: 0.85;
    z-index: 100;
    border: 3px solid black;
    border-top-style: none;
    border-bottom-style: none;
    box-sizing: border-box;
}

  .main-nav__items {
    float: left;
    width: 100%;
    height: 60px; /* Временно для сетки */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  .main-nav__user-items {
    float: right;
    width: 60px;
    min-height: 70px; /* Временно для сетки */
}

  .main-nav__toggle {
    display: none;
}

  .main-nav__item a {
    display: block;
    width: 105px;
    padding: 17px 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    @include title-medium;
    font-size: 16px;
    font-weight: 900;
    text-transform: none;
    text-align: center;
    box-sizing: border-box;
    border-left: 3px solid #051471;
    border-right: 3px solid #051471;
}

  .main-nav__item-logo a {
    padding: 4px 0px;
    width: 120px;
}
}

@media (min-width: $desktop-widths) {
  .main-nav {
    margin-bottom: -60px;
}

  .main-nav__wrapper {
    width: 1200px;
    position: fixed;
    background: #0F25AE;
    opacity: 0.85;
    z-index: 100;
    border: 3px solid black;
    border-top-style: none;
    border-bottom-style: none;
    box-sizing: border-box;
  }

  .main-nav__item a {
    display: block;
    width: 170px;
    padding: 15px 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    @include title-medium;
    font-size: 20px;
    font-weight: 900;
    text-transform: none;
    text-align: center;
    box-sizing: border-box;
    border-left: 3px solid #051471;
    border-right: 3px solid #051471;
}

  .main-nav__item--active a {
    background-color: #4458D6;
    border-bottom: 5px solid white;
}

  .main-nav__item-logo a {
    display: block;
    width: 160px;
    height: 60px;
    padding: 4px 0px;
    text-decoration: none;
    color: white;
    letter-spacing: 2.5px;
    text-transform: none;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border-left: 3px solid #051471;
    border-right: 3px solid #051471;
}
}
