@mixin title-huge() {
    font-size: 30px;
    font-family: PT Sans;
    font-weight: 900;
    text-transform: uppercase;
}

@mixin title-big() {
    font-size: 21px;
    font-family: PT Sans;
    font-weight: 900;
    text-transform: uppercase;
}

@mixin title-medium() {
    font-size: 18px;
    font-family: PT Sans;
    font-weight: 900;
    text-transform: uppercase;
}

@mixin title-small() {
    font-size: 14px;
    font-family: PT Sans;
    font-weight: 900;
    text-transform: uppercase;
}

@mixin clearfix() {
    &::after {
    content: "";
    display: table;
    clear: both;
}
}

@mixin btn() {
    padding: 15px 0;
    font-family: $pt-sans;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    color: $white;
    background-color: $skyblue;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $dark-skyblue;
    }

    &:focus,
    &:active {
        color: $white-disabled;
        background-color: $darkest-skyblue;
    }

    &:disabled {
        color: $white;
        background-color: $grey;
        cursor: default;
    }
}

@mixin container() {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0 auto;
    padding: $padding;
}

@mixin container-fluid() {
    box-sizing: border-box;
    width: auto;
    margin: 0 auto;
    padding: 0;

    @media (min-width: $tablet-width) {
        width: 84%;
        max-width: 960px;
    }

    @media (min-width: $desktop-width) {
        width: 80%;
        max-width: 1200px;
    }
}
