.page {
  background-color: #00472E;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 320px) {
  .page {
    background-image: url("../img/nature-mobile@1x.jpg");
    background-size: cover;
}
}

@media (min-width: 321px) and (max-width: 768px) {
  .page {
    background-image: url("../img/nature-tablet@1x.jpg");
    background-size: cover;
}
}

@media (min-width: $desktop-widths) {
  .page {
    background-image: url("../img/nature-desktop@1x.jpg");
}
}