.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  max-width: 100%;
  min-height: 283px;
  background-color: #dbe9f2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 320px auto;
  overflow: hidden;
  border: 3px solid black;
  border-top-style: none;
  border-bottom-style: none;
}

@media (max-width: $mobile-widths) {
  .page-header {
    border: 1px solid black;
    min-height: 340px;
    background-position: 60% 101%;
}
  .page-header__index {
    background-image: url("../img/header-index-mobile@1x.jpg");
}

  .page-header__games {
    background-image: url("../img/header-games-mobile@1x.jpg");
}

  .page-header__soft {
    background-image: url("../img/header-soft-mobile@1x.jpg");
}

  .page-header__team {
    background-image: url("../img/header-team-mobile@1x.jpg");
}

  .page-header__contacts {
    background-image: url("../img/header-contacts-mobile@1x.jpg");
}

  .page-header__others {
    background-image: url("../img/header-others-mobile@1x.jpg");
}
}

@media (max-width: $mobile-widths) and (min-resolution: $dpi), (max-width: $mobile-widths) and (min-resolution: $dppx) {

}

@media (min-width: $tablet-widths) {
  .page-header {
    min-height: 432px;
    background-size: cover;
    background-size: 768px auto;
    background-position: 50% 0%;
    margin-top: 58px;
}

  .page-header__index {
    background-image: url("../img/header-index-tablet@1x.jpg");
}

  .page-header__games {
    background-image: url("../img/header-games-tablet@1x.jpg");
}

  .page-header__soft {
    background-image: url("../img/header-soft-tablet@1x.jpg");
}

  .page-header__team {
    background-image: url("../img/header-team-tablet@1x.jpg");
}

  .page-header__contacts {
    background-image: url("../img/header-contacts-tablet@1x.jpg");
}

  .page-header__others {
    background-image: url("../img/header-others-tablet@1x.jpg");
}
}

@media (min-width: $tablet-width) and (min-resolution: $dpi), (min-width: $tablet-width) and (min-resolution: $dppx) {

}

@media (min-width: $desktop-widths) {
  .page-header {
    box-sizing: border-box;
    width: 100%;
    min-height: 475px;
    margin: 0 auto;
    margin-top: 58px;
    padding: 0;
    background-size: 1200px auto;
}

  .page-header__index {
    background-image: url("../img/header-index-desktop@1x.jpg");
    background-position: 50% 15%;
}

  .page-header__games {
    background-image: url("../img/header-games-desktop@1x.jpg");
}

  .page-header__soft {
    background-image: url("../img/header-soft-desktop@1x.jpg");
    background-position: 50% 75%;
}

  .page-header__team {
    background-image: url("../img/header-team-desktop@1x.jpg");
}

  .page-header__contacts {
    background-image: url("../img/header-contacts-desktop@1x.jpg");
}

  .page-header__others {
    background-image: url("../img/header-others-desktop@1x.jpg");
    background-position: 50% 50%;
}
}

@media (min-width: $desktop-widths) and (min-resolution: $dpi), (min-width: $desktop-widths) and (min-resolution: $dppx) {

}
