  .slogan {
    padding: 25px 25px 25px 25px;
}

  .slogan__title {
    color: $black;
    @include title-medium;
    text-align: center;
    line-height: 145%;
    letter-spacing: 0.1px;
    width: 265px;
    padding: 13px 0px 0px 0px;
    margin: 0 auto;
}

  .slogan__text {
    color: $black;
    margin: 31px 0px 0px 0px;
    text-align: center;
    line-height: 172%;
    letter-spacing: 1.7px;
    width: 270px;
    padding: 30px 0px 19px 0px;
    margin: 0 auto;
    text-transform: uppercase;
}

@media (min-width: $tablet-widths) {
  .slogan {
    padding: 25px 100px 25px 100px;
}

  .slogan__title {
    @include title-big;
    line-height: 130%;
    width: 450px;
    padding: 10px 0px 0px 0px;
    margin: 0 auto;
}

  .slogan__text {
    letter-spacing: 1.55px;
    width: 500px;
    padding: 30px 0px 25px 0px;
    margin: 0 auto;
}
}

@media (min-width: $desktop-widths) {
  .slogan {
    padding: 25px 350px 25px 350px;
}
  .slogan__title {
    @include title-big;
    line-height: 135%;
    width: 490px;
    padding: 8px 0px 0px 0px;
    margin: 0 auto;
}

  .slogan__text {
    letter-spacing: 1.55px;
    width: 490px;
    padding: 28px 0px 25px 0px;
    margin: 0 auto;
}
}
