@import "colors.scss";// цвета сайта
@import "fonts.scss";//шрифты сайта
@import "mixins.scss";//миксины сайта
@import "variables.scss";// перменные сайта
@import "body.scss";// стили для body
@import "container.scss";//стили для главной и общей обертки сайта
@import "container-page.scss"; //стили для обертки тега main
@import "footer.scss"; //стили для футера
@import "games-preview.scss"; //стили для блока с играми на index.html
@import "hr.scss"; //стили для разделительной полосы (hr)
@import "main-nav.scss"; //стили для навигационного меню
@import "custom-text-one-line-blocks.scss"; //текстовые блоки в 1 линию
@import "page.scss"; //стили для body (картинка-задник)
@import "page-header.scss"; //стили для заглавной картинки
@import "switch-lang.scss"; //стили для кнопок-переключателей языка
@import "trailers.scss"; //стили для блока с видео с ютуба в index.html
@import "vk-group-section.scss"; //стили для вк-виджета в index.html
@import "white-block.scss"; //стили для белого блока (контентный блок-рамка для текста, фоток и прочего)
@import "photo-three-line"; //стили для горизонтального блока-ряда из трех фоток