.trailers {
  margin: 30px 0px;
}

.trailers__text {
  display: block;
  color: white;
  margin: 30px 15px 30px 15px;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

.trailers__text-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trailers__video {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: $mobile-widths) {
  .trailers__text {
    width: 285px;
    margin: 0px 10px 30px 10px;
}

  .trailers__video {
    width: 315px;
    height: 180px;
    padding-bottom: 10px;
}
}

@media (min-width: $tablet-widths) {
  .trailers {
    margin: -10px 0px;
}

  .trailers__text {
    width: 630px;
}

  .trailers__video {
    width: 640px;
    height: 360px;
}
}

@media (min-width: $desktop-widths) {
  .trailers {
    margin: -10px 0px;
}

  .trailers__text {
    width: 950px;
}

  .trailers__video {
    width: 960px;
    height: 540px;
}
}
