.video-presentation {
  margin-top: 30px;
  margin-bottom: 5px;
}

.video-presentation__wrapper {
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.video-presentation__desc {
  margin-bottom: 35px;
  padding: 0 10px;
}

.video-presentation__preview-img {
  margin: 0 auto;

  &--bgc {
    background-color: #9f8c7c;
  }
}

.video-presentation__inner {
  box-sizing: border-box;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.video-presentation__preview-img {
  display: block;
}

.video-presentation__controls {
  position: relative;
  top: -45px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 110px;
  padding: 0 23px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 41%, #f2f2f2 41%);
}

.video-presentation__slider {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);

  &:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 20%;
    width: 8px;
    height: 8px;
    background-color: $white;
    border-radius: 50%;
  }
}

.video-presentation__icon {
  fill: #5c6870;
  cursor: pointer;

  &--video-subtitles {
    margin-left: 110px;
  }

  &:hover {
    fill: #333333;
  }

  &:focus,
  &:active {
    fill: #c1c1c1;
  }
}

// TABLET
@media (min-width: $tablet-width) {
  .video-presentation {
    margin-top: 70px;
    margin-bottom: -17px;
  }

  .video-presentation__wrapper {
    box-sizing: border-box;
  width: auto;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 84%;
    max-width: 960px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
    max-width: 1200px;
  }
    width: 84%;
    max-width: 960px;
  }

  .video-presentation__desc {
    margin-bottom: 70px;
  }

  .video-presentation__preview-img {
    width: 648px;
    min-height: 500px;
  }

  .video-presentation__inner {
    max-width: 648px;
    padding: 0;
  }

  .video-presentation__controls {
    top: -92px;
    height: 92px;
    padding: 0 40px;
    background: rgba(0, 0, 0, 0.6);
  }

  .video-presentation__slider {
    max-width: 390px;
  }

  .video-presentation__icon {
    fill: #ffffff;

    &--video-replay {
      order: -1;
    }

    &--video-subtitles {
      margin: 0;
      margin-right: 30px;
    }
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .video-presentation {
    margin-bottom: 30px;
  }

  .video-presentation__preview-img {
    width: 800px;
  }

  .video-presentation__inner {
    max-width: 800px;
  }

  .video-presentation__slider {
    max-width: 540px
  }
}
