.vk-group-section {
  margin: 30px 0px;
}

#vk_groups,
#vk_groups iframe {
    width: 100% !important;
    height: 500px !important;
}

@media (max-width: $mobile-widths) {
  .vk-group-section__widget-position {
    width: 313px;
    height: 500px;
}
}

@media (min-width: $tablet-widths) {
  .vk-group-section__widget-position {
    width: 761.5px;
    height: 500px;
}
}

@media (min-width: $desktop-widths) {
  .vk-group-section__widget-position {
    width: 1194px;
    height: 500px;
}
}