.vk-group-section {
  margin: 5px 0px 25px 0px;
}

.vk-group-section__widget-position {
  height: 500px;
  margin: 0 auto;
}

#vk_groups,
#vk_groups iframe {
    width: 100% !important;
    height: 500px !important;
}

@media (max-width: $mobile-widths) {
  .vk-group-section__widget-position {
    width: 284px;
    margin: 0 auto;
}
}

@media (min-width: $tablet-widths) {
  .vk-group-section__widget-position {
    width: 732px;
    margin: 0 auto;
}
}

@media (min-width: $desktop-widths) {
  .vk-group-section__widget-position {
    width: 1160px;
    margin: 0 auto;
}
}