.vk-group-section__text-position {
  margin: 0 auto;
}

.vk-group-section__text {
  display: block;
  width: 635px;
  color: white;
  padding: 10px 5px;
  color: white;
  text-transform: none;
  text-indent: 15px;
  background-color: #0F25AE;
  border-radius: 10px;
  text-align: center;
}

#vk_groups,
#vk_groups iframe {
    width: 100% !important;
    height: 500px !important;
}

@media (max-width: $mobile-widths) {
.vk-group-section__text-position {
  width: 300px;
}

.vk-group-section__text {
  width: 300px;
  padding: 10px 0px;
  text-align: inherit;
}

.vk-group-section__widget-position {
  width: 313px;
  height: 500px;
}
}

@media (min-width: $tablet-widths) {
.vk-group-section__text-position {
  width: 500px;
}

.vk-group-section__text {
  width: 500px;
}

.vk-group-section__widget-position {
  width: 761.5px;
  height: 500px;
}
}

@media (min-width: $desktop-widths) {
.vk-group-section__text-position {
  width: 700px;
}

.vk-group-section__text {
  width: 700px;
}

.vk-group-section__widget-position {
  width: 1194px;
  height: 500px;
}
}